{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title> Personal Portfolio &#8226; Wangwe </title>

  <!-- Fontawesome CDN -->
  <script src="https://kit.fontawesome.com/b1eb41e9a4.js" crossorigin="anonymous"></script>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'img/favicon/site.webmanifest' %}">

</head>



{% for message in messages %}
<div class="alert alert-success text-center">
  {{message}}
</div>
{% endfor %}

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="mainNav">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <!-- <i class="fa fa-bullseye">&#8226;</i> -->
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand js-scroll-trigger" href="/#page-top">Wangwe</a>
      <div class="collapse navbar-collapse navbar-light bg-light" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'wangwe:resume' %}" target="_blank">Resume</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="text-white">
    {% for message in messages %}
    <div class="alert alert-success text-center">
      {{message}}
    </div>
    {% endfor %}
    <div class="container text-center">
      <img src="{% static 'img/me_no_bg2.png' %}" alt="" class="img-fluid rounded" style="height: 250px; width: 250px;"
        draggable="false">
      <h3>Konnichiwa</h3>
      <span>i am</span>
      <h2>Timothy Wangwe</h2>
      <span>I Lead &#8226; I Code &#8226; I Serve &#8226; I Love</span>
    </div>
  </header>

  <div class="dark-mode-div">
    <button class="btn btn-dark-mode" style="box-shadow: none !important;">
      <i onclick="darkmode(this)" class="fas fa-moon"></i>
    </button>
  </div>

  <section id="about" class="">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h2>About</h2>
          <p>
            My story begins back when I was a kid. Like other kids, I had a soft spot for superheroes. My icon was Iron
            Man. I had the dream of one day changing the world like he does.
            <img src="{% static 'img/ironman.png' %}" alt="" class="img-fluid rounded float-right"
              style="height: 200px; width: 153px;" draggable="false">
            While most kids out-grow the superhero complex,
          </p>
          <p>I could not.</p>
          <p>
            Throughout the (now) two decades of my life, I have lived searching for and identifying matters that I can
            fix; to make this world a better place.
            <img src="{% static 'img/curious.png' %}" alt="" class="img-fluid rounded float-left"
              style="height: 150px; width: 150px;" draggable="false">
            That is how my passion for technology came to grow.
          </p>
          <p>
            I am curious about a lot of things, how the universe works and why things are the way they are.
            Most importantly, what needs to be done to get as close as possible to having a perfect world.
          </p>
          <p>
            I am currently pursuing Bachelor's of Science in Information Technology at Zetech
            University
            focusing on <b>Data Science</b> and <b>Machine Learning</b>. I'm also quite experienced in
            <b>Software
              Development</b> and <b>Web
              Technologies</b>. <br>
            After graduating, I am hoping to follow my interest in machine leanring to find my way (back) to
            the realm
            of
            engineering.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="portfolio" class="">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h2>Portfolio</h2>
          <p>Here are some of my personal projects!</p>
          <blockquote class=" text-left text-muted">
            <p class="mb-0">"Show me what you can do; don't tell me what you can do." <cite>&ndash;John Wooden</cite>
            </p>
          </blockquote>
          {% for project in projects %}
          <div class="card bg-transparent border-dark" id="card">
            <div class="card-header">
              <small class="text-muted float-right">{{project.date|date:"M Y"}}</small>
              <h5 class="card-title">{{project.title}}</h5>
            </div>
            <img src="{{project.image.url}}" alt="An image of {{project.title}}" class="card-img-top">
            <div class="card-body">
              <p class="card-text">{{project.description}}</p>
              {% if project.source %}
              <small>
                <a href="{{project.source}}" target="_blank" class="text-info">Source Code</a>
              </small>
              {% endif %}
              {% if project.deploy %}
              <small>
                <a href="{{project.deploy}}" target="_blank" class="text-info float-right">Deployed here</a>
              </small>
              {% endif %}
            </div>
            <div class="card-footer text-center">
              <small class="text-muted">{{project.technology}}</small>
            </div>
          </div>
          <br>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  <section id="contact" class="">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2> Get in Touch </h2>
          <div>
            <p>You can contact me directly via email or call.</p>
            <small>
              <a href="mailto:wangwetymothy@gmail.com" target="_blank" class="text-info">wangwetymothy@gmail.com</a>
            </small>
            <small class="float-right">
              <a href="tel:+254706659609" target="_blank" class="text-info">+254 706 659609</a>
            </small>
            <p><br> Or you could leave me a message in this little form down here!</p>
          </div>
          <form action="" method="post" novalidate>
            {% csrf_token %}
            {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
              {% for error in form.non_field_errors %}
              {{error}}
              {% endfor %}
            </div>
            {% endif %}
            {% for field in form.visible_fields %}
            <div class="form-group">
              {{ field.label_tag }}

              {% if form.is_bound %}
              {% if field.errors %}
              {% render_field field class="form-control is-invalid" %}
              {% for error in field.errors %}
              <div class="invalid-feedback">
                {{ error }}
              </div>
              {% endfor %}
              {% else %}
              {% render_field field class="form-control is-valid" %}
              {% endif %}
              {% else %}
              {% render_field field class="form-control" %}
              {% endif %}
              {% if field.help_text %}
              <small class="form-text text-muted">{{ field.help_text }}</small>
              {% endif %}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-sm btn-dark">Send</button>
          </form>
        </div>
      </div>
    </div>
  </section>
  <div class="container ">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <hr>
        <div class="text-center">
          <a href="https://www.linkedin.com/in/timothy-wangwe" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-linkedin"></i>
          </a>
          <a href="https://medium.com/@wangwetymothy" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-medium-m"></i>
          </a>
          <a href="https://www.github.com/wwangwe" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-github"></i>
          </a>
          <a href="https://stackoverflow.com/users/10946705/timothy-wangwe" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-stack-overflow"></i>
          </a>
          <a href="https://twitter.com/tim_is_weird?ref_src=twsrc%5Etfw" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="https://www.instagram.com/tim.is.weird/" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-instagram"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <footer class=" p-3">
    <div class="text-center text-muted">
      <small>Copyright &copy <script>
          document.write(new Date().getFullYear())
        </script> | Timothy Wangwe</small>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'js/jquery.easing.js' %}"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="{% static 'js/script.js' %}"></script>

</body>

</html>