<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume - Wangwe</title>
    <style>
        * {
            font-family: 'Times New Roman', sans-serif;
        }

        div#contentsContainer {
            padding-right: 40px;
            padding-left: 40px;
            padding-bottom: 40px;
            margin-right: auto;
            margin-left: auto;
        }

        #E223,
        #E228,
        #E244,
        #E249,
        #E265,
        #E365,
        #E359,
        #E314,
        #E293,
        #E270 {
            float: right;
            color: rgb(82, 82, 82);
        }
    </style>
</head>

<body>
    <div id="pageBorders" class="style-scope qowt-page" contenteditable="false">&nbsp;</div>
    <div id="contentsContainer" class="style-scope qowt-page">
        <div id="contents" class="style-scope qowt-page">
            <h1 id="E201" class="x-scope qowt-word-para-0" style="text-align: center;"><strong><span id="E202"
                        class="qowt-font2-TimesNewRoman">Timothy Wangwe</span></strong></h1>
            <p id="E203" class="x-scope qowt-word-para-1" style="text-align: center;"><a id="E204"
                    contenteditable="false" href="https://wangwe.herokuapp.com/" target="_blank"><span id="E205"
                        class="qowt-font2-TimesNewRoman qowt-stl-Hyperlink">wangwe.herokuapp.com</span></a><span
                    id="E206" class="qowt-font2-TimesNewRoman"> | </span><a id="E207" contenteditable="false"
                    href="mailto:wangwetymothy@gmail.com" target="_blank"><span id="E208"
                        class="qowt-font2-TimesNewRoman qowt-stl-Hyperlink">wangwetymothy@gmail.com</span></a><span
                    id="E209" class="qowt-font2-TimesNewRoman"> | </span><a id="E210" contenteditable="false"
                    href="https://linkedin.com/in/timothy-wangwe" target="_blank"><span id="E211"
                        class="qowt-font2-TimesNewRoman qowt-stl-Hyperlink">LinkedIn</span></a><span id="E212"
                    class="qowt-font2-TimesNewRoman"> | </span><a id="E213" contenteditable="false"
                    href="https://github.com/wwangwe" target="_blank"><span id="E214"
                        class="qowt-font2-TimesNewRoman qowt-stl-Hyperlink">GitHub</span></a></p>
            <h3 class="x-scope qowt-word-para-1"><strong><span
                        class="qowt-font2-TimesNewRoman">Experience</span></strong>
            </h3>
            <hr />
            <p id="E220" class="x-scope qowt-word-para-2" style="text-align: left;"><strong><span id="E221"
                        class="qowt-font2-TimesNewRoman">Campus Ambassador</span></strong><span id="E223"
                    class="qowt-font2-TimesNewRoman">Apr. 2020 -
                    Present</span></p>
            <p id="E224" class="x-scope qowt-word-para-3"><em><span id="E225" class="qowt-font2-TimesNewRoman">Moringa
                        School</span></em><span id="E227" class="qowt-font2-TimesNewRoman"></span><em><span id="E228"
                        class="qowt-font2-TimesNewRoman">Nairobi, Kenya</span></em>
            </p>
            <ul style="list-style-type: circle;">
                <li id="E229" class="qowt-li-0_0 qowt-list qowt-stl-ListParagraph x-scope qowt-word-para-3"><span
                        id="E230" class="qowt-font2-TimesNewRoman">Represent the image and brand of Moringa school at
                        Zetech
                        University.</span></li>
                <li class="qowt-li-0_0 qowt-list qowt-stl-ListParagraph x-scope qowt-word-para-3">Organized several
                    virtual
                    talks in the field of IT, <span id="E233" class="qowt-font2-TimesNewRoman">sponsored</span><span
                        id="E234" class="qowt-font2-TimesNewRoman"> by Moringa school</span><span id="E235"
                        class="qowt-font2-TimesNewRoman"> and endorsed by</span><span id="E236"
                        class="qowt-font2-TimesNewRoman"> the </span><span id="E237"
                        class="qowt-font2-TimesNewRoman">U</span><span id="E238"
                        class="qowt-font2-TimesNewRoman">niversity
                        of Nairobi and Kenyatta University</span><span id="E239" class="qowt-font2-TimesNewRoman"> among
                        other institutions</span><span id="E240" class="qowt-font2-TimesNewRoman">.</span></li>
            </ul>
            <p id="E241" class="x-scope qowt-word-para-1"><span id="E242"
                    class="qowt-font2-TimesNewRoman"><strong>Technical
                        Blog Writer</strong></span><em><span id="E242"
                        class="qowt-font2-TimesNewRoman"></span></em><span id="E244"
                    class="qowt-font2-TimesNewRoman">Freelance Contributor</span></p>
            <p id="E245" class="x-scope qowt-word-para-3"><em><span id="E246" class="qowt-font2-TimesNewRoman">Analytics
                        Vidhya</span></em><span id="E248" class="qowt-font2-TimesNewRoman"></span><em><span id="E249"
                        class="qowt-font2-TimesNewRoman">Remote</span></em></p>
            <ul style="list-style-type: circle;">
                <li id="E250" class="qowt-li-0_0 qowt-list qowt-stl-ListParagraph x-scope qowt-word-para-3"><span
                        id="E251" class="qowt-font2-TimesNewRoman">Contribute to An</span><span id="E252"
                        class="qowt-font2-TimesNewRoman">a</span><span id="E253" class="qowt-font2-TimesNewRoman">lytics
                        Vidhya&rsquo;s Medium Publication</span><span id="E254"
                        class="qowt-font2-TimesNewRoman">s</span><span id="E255" class="qowt-font2-TimesNewRoman"> on
                    </span><span id="E256" class="qowt-font2-TimesNewRoman">Data Science</span><span id="E257"
                        class="qowt-font2-TimesNewRoman"> and Machine Learning</span><span id="E258"
                        class="qowt-font2-TimesNewRoman">.</span></li>
                <li class="qowt-li-0_0 qowt-list qowt-stl-ListParagraph x-scope qowt-word-para-3">First article was on
                    the
                    release of Python 3.9 in October.</li>
            </ul>
            <p id="E262" class="x-scope qowt-word-para-2"><strong><span id="E263"
                        class="qowt-font2-TimesNewRoman">Mathematics Tutor</span></strong><span id="E265"
                    class="qowt-font2-TimesNewRoman">Jan. 2019 &ndash; Apr. 2019</span></p>
            <p id="E266" class="x-scope qowt-word-para-3"><em><span id="E267" class="qowt-font2-TimesNewRoman">Kibunde
                        High
                        School</span></em><em><span id="E270" class="qowt-font2-TimesNewRoman">Bungoma,
                        Kenya</span></em></p>
            <ul style="list-style-type: circle;">
                <li id="E271" class="qowt-li-0_0 qowt-list qowt-stl-ListParagraph x-scope qowt-word-para-1"><span
                        id="E272" class="qowt-font2-TimesNewRoman">Taught </span><span id="E273"
                        class="qowt-font2-TimesNewRoman">mathematics to the candidate class</span><span id="E274"
                        class="qowt-font2-TimesNewRoman">;</span><span id="E275" class="qowt-font2-TimesNewRoman">
                        aiding
                        the improved performance of students in the subject and overall, in the national exams of
                        2019.</span></li>
            </ul>
            <p id="E276" class="x-scope qowt-word-para-4"><span class="qowt-font2-TimesNewRoman">&nbsp;</span></p>
            <h3 class="x-scope qowt-word-para-1"><strong><span class="qowt-font2-TimesNewRoman">Projects</span></strong>
            </h3>
            <hr />
            <p id="E282" class="x-scope qowt-word-para-1"><strong><span id="E283"
                        class="qowt-font2-TimesNewRoman">Covid-19
                        Tracker</span><span id="E284" class="qowt-font2-TimesNewRoman"> </span></strong><span id="E285"
                    class="qowt-font2-TimesNewRoman">| </span><em><span id="E286"
                        class="qowt-font2-TimesNewRoman">Django,</span><span id="E287" class="qowt-font2-TimesNewRoman">
                        BeautifulSoup,</span><span id="E288" class="qowt-font2-TimesNewRoman"> Urllib,</span><span
                        id="E289" class="qowt-font2-TimesNewRoman"> Requests,</span><span id="E290"
                        class="qowt-font2-TimesNewRoman">
                        Bootstrap</span><span id="E291" class="qowt-font2-TimesNewRoman">4, Heroku</span></em><span
                    id="E293" class="qowt-font2-TimesNewRoman">Aug. 2020</span></p>
            <ul style="list-style-type: circle;">
                <li id="E295" class="qowt-li-2_0 qowt-list qowt-stl-ListParagraph x-scope qowt-word-para-1"><span
                        id="E296" class="qowt-font2-TimesNewRoman">B</span><span id="E297"
                        class="qowt-font2-TimesNewRoman">uilt on
                        Django </span><span id="E298" class="qowt-font2-TimesNewRoman">using Requests and BeautifulSoup
                        to
                        scrape recent news on the Coronavirus from Aljazeera.</span></li>
                <li id="E299" class="qowt-li-2_0 qowt-list qowt-stl-ListParagraph x-scope qowt-word-para-1"><span
                        id="E300" class="qowt-font2-TimesNewRoman">Provided </span><span id="E301"
                        class="qowt-font2-TimesNewRoman">up-to-date summary statistics from the </span><a id="E302"
                        contenteditable="false" href="https://api.covid19api.com/summary" target="_blank"><span
                            id="E303" class="qowt-font2-TimesNewRoman qowt-stl-Hyperlink">C</span><span id="E304"
                            class="qowt-font2-TimesNewRoman qowt-stl-Hyperlink">ovid19api</span></a><span id="E305"
                        class="qowt-font2-TimesNewRoman"> using Urllib.</span></li>
            </ul>
            <p id="E307" class="x-scope qowt-word-para-1"><strong><span id="E308"
                        class="qowt-font2-TimesNewRoman">Community
                        Health </span></strong><span id="E309" class="qowt-font2-TimesNewRoman">| </span><em><span
                        id="E310" class="qowt-font2-TimesNewRoman">Django, Bootstrap4</span><span id="E311"
                        class="qowt-font2-TimesNewRoman">, Heroku</span></em><span id="E314"
                    class="qowt-font2-TimesNewRoman">Oct. 2020</span></p>
            <ul style="list-style-type: circle;">
                <li id="E315" class="qowt-li-2_0 qowt-list qowt-stl-ListParagraph x-scope qowt-word-para-1"><span
                        id="E316" class="qowt-font2-TimesNewRoman">Web Application built on Django and Boots</span><span
                        id="E317" class="qowt-font2-TimesNewRoman">trap to enhance the delivery of community health
                        services.</span>
                </li>
                <li id="E318" class="qowt-li-2_0 qowt-list qowt-stl-ListParagraph x-scope qowt-word-para-1"><span
                        id="E319" class="qowt-font2-TimesNewRoman">Built for the </span><span id="E320"
                        class="qowt-font2-TimesNewRoman">Build for SDG Challenge</span><span id="E321"
                        class="qowt-font2-TimesNewRoman"> Cohort 2</span><span id="E322"
                        class="qowt-font2-TimesNewRoman">
                        by Facebook and Andela; alongside a team of four.</span></li>
            </ul>
            <p id="E323" class="x-scope qowt-word-para-4"><span class="qowt-font2-TimesNewRoman">&nbsp;</span></p>
            <h3 class="x-scope qowt-word-para-1"><strong><span class="qowt-font2-TimesNewRoman">Technical
                        Skills</span></strong></h3>
            <hr />
            <p id="E329" class="x-scope qowt-word-para-1"><strong><span id="E330"
                        class="qowt-font2-TimesNewRoman">Languages</span></strong></p>
            <p id="E331" class="x-scope qowt-word-para-1"><span id="E332"
                    class="qowt-font2-TimesNewRoman">Python</span><span id="E333" class="qowt-font2-TimesNewRoman">,
                    HTML5,
                    CSS3, JavaScript</span></p>
            <p id="E334" class="x-scope qowt-word-para-2"><strong><span id="E335"
                        class="qowt-font2-TimesNewRoman">Frameworks</span></strong></p>
            <p id="E336" class="x-scope qowt-word-para-1"><span id="E337"
                    class="qowt-font2-TimesNewRoman">Djan</span><span id="E338" class="qowt-font2-TimesNewRoman">go,
                    Bootstrap, Rest API </span></p>
            <p id="E339" class="x-scope qowt-word-para-2"><strong><span id="E340"
                        class="qowt-font2-TimesNewRoman">Libraries</span></strong></p>
            <p id="E341" class="x-scope qowt-word-para-1"><span id="E342" class="qowt-font2-TimesNewRoman">Requests,
                    BeautifulSoup, Pandas, NumPy, Matplotlib, Seaborn, Scikit-learn</span></p>
            <p id="E343" class="x-scope qowt-word-para-2"><strong><span id="E344"
                        class="qowt-font2-TimesNewRoman">Developer
                        Tools</span></strong></p>
            <p id="E345" class="x-scope qowt-word-para-1"><span id="E346"
                    class="qowt-font2-TimesNewRoman">Git</span><span id="E347" class="qowt-font2-TimesNewRoman">,
                    Codacy</span><span id="E348" class="qowt-font2-TimesNewRoman">, VS Code, Jupyter, Colabs,
                    Heroku</span><span id="E349" class="qowt-font2-TimesNewRoman">, Google Analytics</span></p>
            <p id="E350" class="x-scope qowt-word-para-1"><span class="qowt-font2-TimesNewRoman">&nbsp;</span></p>
            <h3 class="x-scope qowt-word-para-1"><span class="qowt-font2-TimesNewRoman">Education</span></h3>
            <hr />
            <p id="E356" class="x-scope qowt-word-para-1"><strong><span id="E357"
                        class="qowt-font2-TimesNewRoman">Zetech
                        University</span></strong><em><span id="E359" class="qowt-font2-TimesNewRoman">Nairobi,
                        Kenya</span></em>
            </p>
            <p id="E360" class="x-scope qowt-word-para-3"><em><span id="E361"
                        class="qowt-font2-TimesNewRoman">BS</span><span id="E362"
                        class="qowt-font2-TimesNewRoman">.</span><span id="E363" class="qowt-font2-TimesNewRoman">
                        Information Technology</span></em><span id="E365" class="qowt-font2-TimesNewRoman">May 2019 -
                    Present</span></p>
        </div>
    </div>
</body>

</html>