{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume - Wangwe</title>
    <style>
        * {
            font-family: 'Times New Roman', sans-serif;
        }

        a {
            color: black;
        }

        div#container {
            padding-right: 250px;
            padding-left: 250px;
            padding-bottom: 40px;
            margin-right: auto;
            margin-left: auto;
        }

        @media screen and (max-width: 800px) {
            div#container {
                padding-right: 100px;
                padding-left: 100px;
                padding-bottom: 40px;
                margin-right: auto;
                margin-left: auto;
            }
        }

        .go-right {
            float: right;
            color: rgb(82, 82, 82);
        }
    </style>
</head>

<body>
    <div id="container">
        <div>
            <h1 style="text-align: center;">
                <strong>Timothy Wangwe</strong>
            </h1>
            <p style="text-align: center;">
                <a contenteditable="false" href="https://wangwe.herokuapp.com/" target="_blank">wangwe.herokuapp.com</a>
                <span> &#8226; </span>
                <a contenteditable="false" href="mailto:wangwetymothy@gmail.com"
                    target="_blank">wangwetymothy@gmail.com</a>
                <span> &#8226; </span>
                <a contenteditable="false" href="https://linkedin.com/in/timothy-wangwe" target="_blank">LinkedIn</a>
                <span> &#8226; </span>
                <a contenteditable="false" href="https://github.com/wwangwe" target="_blank">GitHub</a>
            </p>
            <h3>
                <strong>Experience</strong>
            </h3>
            <hr />
            <p style="text-align: left;">
                <strong>Campus Ambassador</strong>
                <span class="go-right">Apr. 2020 - Present</span>
            </p>
            <p>
                <em>Moringa School</em>
                <em>
                    <span class="go-right">Nairobi, Kenya</span>
                </em>
            </p>
            <ul style="list-style-type: circle;">
                <li>
                    <span>Represent the image and brand of Moringa school at Zetech University.</span>
                </li>
                <li>
                    <span>Organized several virtual talks in the field of IT, sponsored by Moringa school and endorsed
                        by the University of Nairobi and Kenyatta University; among other institutions.</span>
                </li>
            </ul>
            <p>
                <strong>Technical Blog Writer</strong>
                <span class="go-right">Freelance Contributor</span>
            </p>
            <p>
                <em>
                    <span>Analytics Vidhya</span>
                </em>
                <em>
                    <span class="go-right">Remote</span>
                </em>
            </p>
            <ul style="list-style-type: circle;">
                <li>
                    <span>Contribute to Analytics Vidhya's Medium Publications on Data Science and Machine
                        Learning.</span>
                </li>
                <li>
                    <span>First article was on the release of Python 3.9 in October.</span>
                </li>
            </ul>
            <p>
                <strong>Mathematics Tutor</strong>
                <span class="go-right">Jan. 2019 &ndash; Apr. 2019</span>
            </p>
            <p>
                <em>
                    <span>Kibunde High School</span>
                </em>
                <em>
                    <span class="go-right">Bungoma, Kenya</span>
                </em>
            </p>
            <ul style="list-style-type: circle;">
                <li>
                    <span>Taught mathematics to the candidate class aiding the improved performance of
                        students in the subject and overall, in the national exams of
                        2019.</span>
                </li>
            </ul>
            <h3>
                <strong>Projects</strong>
            </h3>
            <hr />
            <p>
                <strong>
                    <span>Covid-19 Tracker</span>
                </strong>
                <span>
                    | <em>Django, BeautifulSoup, Urllib, Requests, Bootstrap 4, Heroku</em>
                </span>
                <span class="go-right">Aug. 2020</span>
            </p>
            <ul style="list-style-type: circle;">
                <li>Built on Django using Requests and BeautifulSoup to scrape recent news on the Coronavirus from
                    Aljazeera.</li>
                <li>Provided up-to-date summary statistics from the <a href="https://api.covid19api.com/summary"
                        target="_blank">Covid19api</a> using Urllib.
                <li>
            </ul>
            <p>
                <strong>Community Health</strong>
                | <em>Django, Bootstrap4, Heroku</em>
                <span class="go-right">Oct. 2020</span>
            </p>
            <ul style="list-style-type: circle;">
                <li>Web Application built on Django and Bootstrap to enhance the delivery of community health services.
                </li>
                <li>Built for the Build for SDG Challenge Cohort 2 by Facebook and Andela; alongside a team of four.
                </li>
            </ul>
            <h3>
                <strong>Technical Skills</strong>
            </h3>
            <hr />
            <p>
                <strong>Languages</strong>
            </p>
            <p>Python, HTML5, CSS3, JavaScript</p>
            <p>
                <strong>Frameworks</strong>
            </p>
            <p>Django, Bootstrap, Rest API</p>
            <p>
                <strong>Libraries</strong>
            </p>
            <p>Requests, BeautifulSoup, Pandas, NumPy, Matplotlib, Seaborn, Scikit-learn</p>
            <p>
                <strong>Developer Tools</strong>
            </p>
            <p>Git, Codacy, VS Code, Jupyter, Colabs, Heroku, Google Analytics</p>
            <h3>
                <strong>Education</strong>
            </h3>
            <hr />
            <p>
                <strong>Zetech University</strong>
                <em>
                    <span class="go-right">Nairobi, Kenya</span>
                </em>
            </p>
            <p>
                <em>BS. Information Technology</em>
                <span class="go-right">May 2019 - Present</span>
            </p>
        </div>
    </div>
    <div>
        <a href="{% static 'files/Resume-2.0.pdf' %}">
            <span style="position: fixed;top: 50%; border: 1px dashed black; border-radius: 5px; padding: 5px;">
                Download as PDF
            </span>
        </a>
    </div>
</body>

</html>